/* Container */

.register-container {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  height: 100%;
  margin-top: 5%;
}

.create-account {
  width: 60%;
  padding: 2rem;
  min-width: 40%;
}

.join-text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.bg-image {
  width: 100%;
  height: auto;
  background-image: url("../../assets/hello.png");
  background-size: cover;
  min-width: 57vh;
  background-position: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Button */

.font-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.register-button {
  background-color: #5d3fe1 !important;
  border-radius: 3rem;
  width: 10rem;
  height: 3rem;
  color: white;
}

.input-box {
  margin-top: 0.2rem;
  margin-bottom: 0.19rem;
  padding: 0.5rem;
  display: block;
  width: 80%;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  transition: ring-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.rounded-input {
  border-radius: 0.5rem;
}

.dark\:bg-blue-700 {
  background-color: #342283;
}

.dark\:text-white {
  color: #fff;
}

.dark\:hover\:bg-blue-900:hover {
  background-color: #2a4365;
}

/* Link */
.inline-block {
  display: inline-block;
}

.text-blue-500 {
  color: #4299e1;
}

.dark\:text-blue-500 {
  color: #4299e1;
}

/* media quarry */

@media (max-width: 450px) {
  .bg-image {
    display: none;
  }

  .create-account {
    display: flex;
    padding: 2rem;
    font-size: 1rem;
    margin-top: 10%;
    margin-left: 1rem;
    margin: auto;
  }

  .join-text {
    font-size: 1.2rem;
    margin-left: 2rem;
    text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
  }
}

/* RegisterForm.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.create-account {
  max-width: 100vh;
  min-width: 50vh;
}

.input-container {
  margin-bottom: 1rem;
}

.input-box {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  height: 3rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #5d3fe1 !important;
  border-radius: 3rem;
  width: 10rem;
  height: 3rem;
  color: white;
  margin-top: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 55.8vh;
}
