* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container */

.auth-container-wrapper {
  display: flex;
  align-items: stretch;
  height: 65vh;
  background-color: #fff;
  border-radius: 1.5rem;
}

.auth-container-box {
  display: flex;
  flex-direction: column;
  order: 0;
  padding: 3rem;
  flex: 1;
  border-radius: 1.5rem;
  min-width: 45vh;
}

.join-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.p-text {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.bg-image {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

/* Row */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Button */
.font-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.login-button,
.register-button {
  background-color: #5d3fe1 !important;
  border-radius: 3rem;
  width: 7rem;
  height: 3rem;
  color: white;
  margin-top: 0.8rem;
  font-size: 1.1rem;
}

.auth-container-box {
  width: 30vh;
}

.auth-container-form {
  text-align: center;
}

.input-container {
  margin-bottom: 0.6rem;
}

input.input-box.rounded-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  height: 3rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #ccc;
  border-radius: 1.2rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  transition: ring-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-bottom: 1rem;
}

.rounded-input {
  border-radius: 0.5rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

/* Link */
.inline-block {
  display: inline-block;
}

.text-blue-500 {
  color: #4299e1;

  font-size: 1rem;
}

/* media query */

@media (max-width: 450px) {
  .auth-container-wrapper {
    height: auto;
    flex-direction: column;
    margin-top: 10rem;
  }

  .auth-container-box {
    padding: 1.5rem;
    border-radius: 0;
    min-width: auto;
    width: 100%;
  }

  .bg-image {
    display: none;
  }

  .input-box.rounded-input {
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .auth-container-wrapper {
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .auth-container-box {
    padding: 2rem;
    border-radius: 1.5rem;
    width: 80%;

    max-width: 30rem;

    margin: 2rem 0;
  }

  .bg-image {
    order: -1;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0;
    aspect-ratio: 1;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  .bg-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .input-box.rounded-input {
    border-radius: 1rem; /* Adjust border radius */
  }
}
