.parent {
  @apply bg-gray-200 m-6 rounded-lg flex justify-between pr-8 text-gray-500 transition-colors duration-500 opacity-0;
}

.content {
  @apply flex justify-between w-full p-4;
}
.title {
  @apply font-poppins;
}

.date {
  @apply font-poppins text-sm;
}

.buttons {
  @apply flex gap-5;
}

.parentDarkM {
  @apply bg-gray-800 m-6 rounded-lg flex justify-between pr-8 text-white transition-colors duration-500;
}

.animateIn {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
